body, html {
    padding: 0; 
    margin: 0; 
    height: 100%; 
}

body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: cursive;

    /* Image used  */
    background-image: url("/static/Background.jpg");

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header  */
.header{
    padding: 40px; 
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    font-size: 30px;
}

.titleP{
    font-size: 25px;
}

/* Form layout */
.form-container{
    padding-top: 50px;
    display:flex; 
    justify-content: center;
    align-items: center;
    
}

 /* Form styling */
.textArea{
    background-color: black;
    color: white;
    border-radius: 10px;
}

/* Button styling */
input[type=submit]{
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    transition: 1.5s;
    
}

/* Button hover effect */
input[type=submit]:hover {
    background-color: orange;
    color: white;
    transition-duration: 1.5s ;
}

/* Result layout */
.result{
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin:auto;
    width: 700px;
    padding-bottom: 30px;
}