body, html {
    padding: 0; 
    margin: 0; 
    height: 100%; 
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* Image used  */
    background-image: url("/static/background-image.jpg");

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}